@import url(reset.css);

* {
	box-sizing: border-box;
	text-align: center;
}

.header {
	background-color: white;
	display: flex;
	position: fixed;
   justify-content: space-between;
   width: 100%;
	padding: 50px;
	top: 0;
}

.logo {
	font-size:50px;
	color: #E50043;
	font-family: Arial;
}


.menu {
	font-size:50px;
	font-family: Arial;
}

a {
	margin-left: 25px;
}

a:visited {
    color: #E50043;
 }

a:active {
     color: #E50043;
}  

.image-logo {
	background-size: cover;
	margin-top: 140px;
	height: 950px;
	background-image: url(../img/evian_origins_logo.png);
	display: flex;
	justify-content: center;
	align-items: center;
}

.image-text {
	font-family: Arial;
	font-style: normal;
    font-weight: normal;
    font-size: 100px;
	color: #E50043;}

.top-container {
	width: 1040px;
	background-color: white;
	border: 3px solid #F8BFC7;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	margin: 150px auto;
	padding: 24px;

}

.top-container h2 {
	color: #000000;
	font-family: Arial;
	font-size: 25px;
	letter-spacing: 1px;
	text-align: left;
	margin-bottom: 30px;
}

.about-text {
	color: #000000;
	font-family: Arial;
	font-size: 25px;
   letter-spacing: 1px;
   text-align: left;
   margin-top: 30px;
   line-height: 29px;
 }


.center-container {
	display: flex;
	justify-content: space-around;;
	align-content: space-around;
	align-items: center;
	margin: auto;
 }


.flex-item2 {
   padding-left:100px;
   padding-right: 100px;
}
 
.text, .text2 {
	text-align: center;
	margin-top: 48px;
	font-family: Arial;
	font-size: 25px;
}

.bottom-container {
	width: 1040px;
	background-color: white;
	border: 3px solid #F8BFC7;
	border-radius: 25px;
   display: flex;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	margin: 150px auto;
}

.bottom-container img {

	margin-right:80px;
	padding-left: 80px;
}

.bottom-container ul {
   padding-top: 40px;
	padding-right: 30px;
	padding-bottom: 30px;}

.bottom-container li { 
	color: #000000;
	font-family: Arial;
	font-size: 25px;
	letter-spacing: 1px;
   text-align: left;
   line-height: 24px;
   margin-bottom: 30px;}

footer {
	background-color: #F8BFC7;}

	.footer-name {
	font-size: 50px;
	color: white;
	font-family: Arial;
	text-align: left;
	line-height: 140px;
	padding-left: 50px;

	}