@import url(reset.css);

.page {
	background-color: white;
}

.header, footer {
	width: 1440px;
	height: 140px;
	box-sizing: border-box;
}

.header {
	margin: auto;
	background-attachment: fixed;

}

.logo {
	font-size:50px;
	color: #E50043;
	font-family: Arial;
	display: inline-block;
	text-align: 140px;
	padding-left: 30px;
}

.menu {
	font-size:50px;
	font-family: Arial;
	display: inline-block;
}

.menu li { 
	margin-left: 800px;
	display: inline;
	text-align: center;

}

a {
	color: #E50043;
	visited: #E50043;
	active:  #E50043;;
}

.image-logo {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    align-content: center;
}

.image-text {
	font-family: Arial;
	font-style: normal;
    font-weight: normal;
    font-size: 100px;
	color: #E50043;


}
