@import url(reset.css);


* {
  box-sizing: border-box;
  font-family: Helvetica;
  font-weight: 700;
  text-align: center;

}

.header,
.footer {
  width: 100%;
  box-sizing: inherit;
  background-color: #0000FF;
  display: flex;
  justify-content: flex-start;
  color: #FFFFFF;
  font-size: 25px;
  padding: 35px;
}

.header{
  margin-bottom: 102px;
}

.page {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.article {
  width: 600px;
  height: 300px;
  box-sizing: inherit;
  border: 5px solid #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #FFFFFF;
  color: #000000;
  font-size: 50px;
  
}

.footer{
  margin-top: 102px;
  display: flex;
  justify-content: space-between;
}


@media screen and (max-width: 600px) {

.header{
  margin-bottom: 20px;
}

.article {
  width: 300px;
  height: 165px;    
  font-size: 25px;
  }

 .page {
  padding: 0;
  margin: 0;
 } 

.footer{
  margin-top: 20px;
}
}



/*
@media screen and (min-width: 320px) {
.page {
  padding: 0 22px;
}

.article {
  width: 300px;
  height: 165px;    
  font-size: 25px;
  }
}



@media screen and (min-width: 600px) {
.article {
  width: 300px;  
  height: 165px;  
  font-size: 25px;
  }
}


@media screen and (min-width: 960px) {
 .article  {
  width: 600px;
  height: 300px;
  font-size: 50px;
}
}

*/


