@import url(reset.css);

html {
  box-sizing: border-box;
}

* {
  font-family: 'Times New Roman', monospace;
  box-sizing: inherit;
  font-weight: normal;
}

.main-header,
.main-footer {
  min-width: 100%;
  background-color: #FFE138;

}

.title,
.footer-text {
  color: #000000;
  text-align: center;
  padding: 51px;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page{
  background-color: #E5E5E5;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article {
  margin: 70px auto;
  min-width: min-content;
  max-width: calc((100% - 150px)/3);
  border: 1px solid #000000;
}

.article.first {
 min-height: 985px;
}

.article.second {
  min-height: 1010px;
}

.article.third {
  min-height: 1260px;
}

img {
  margin-bottom: 30px;
}

.article-text{
  padding: 0 33px;
}

.article-header {
  margin-bottom: 30px;
  font-weight: 700;
}

.article-header,
.text {
  line-height: 25px;
}

